.red-text {
    color: red;
}

.pink-text {
    color: pink;
}

.orange-text {
    color: orange;
}

.blue-text {
    color: blue;
}

.green-text {
    color: green;
}

.yellow-text {
    color: yellow;
}