@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

.pd-todo-wrapper {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

/* App */
.pd-todo-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Sidebar */
.pd-todo-wrapper .Sidebar {
  width: 300px;
  min-width: 210px;
  height: 100%;
}

/* Main */
.pd-todo-wrapper .Main {
  width: 100%;
  height: 100%;
  /* background-image: url("./images/bg.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}

/* User */
.pd-todo-wrapper .User {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  border: 1px solid #ebebeb;
}

.pd-todo-wrapper .User .logo img {
  width: 50px;
  border-radius: 50%;
  border: 1px solid #000;
}

.pd-todo-wrapper .User .info p {
  font-size: 1.1rem;
  font-weight: bold;
}

.pd-todo-wrapper .User .info a {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
}