.text-left{
  text-align: left;
}

td {
  border: 1px solid gray;
  padding: 7px;
}

.pd-common-container{
  padding: 3% 5%;
}

.pd-card-image{
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.pd-mui-wrapper{
  padding:5%
}